* {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    /* espaçamento em volta zerado */
    padding: 0;
    /* resetando preenchimento */
    box-sizing: border-box;
    /* evitar que os elementos aumente de tamanho inesperadamente facilitando o controle da responsividade */
    list-style: none; /* Apagar os pontos */
    

}

/* estilização header */
.cabeçalho {
    background-color: rgb(4, 7, 39);
    color: white;
    padding: 1.5rem;
    /* poderia ser 24px */

    /* alinhamento dos itens */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;

    /* header fixo */
    position: sticky;
    /* posicionamento do header para sobrepor os outros elementos */
    left: 0;
    top: 0;
    z-index: 999;
    /* eixo z - profundidade do elemento */

}


/* logo do header */
.div-logo img {
    width: 35%;
    /* usando o % para diminuir seu tamanho */
    height: 35%;
}

/* estilização do header */
.div-button a button {
    width: 5rem;
    /* poderia ser 80px */
    padding: 0.5rem;
    /* 8px - preenchimento */
    background-color: wheat;
    /* cor do botão */
    border: none;
    /* remoção das bordas */
    font-weight: 700;
    /* espessura da font do botão */
    border-radius: 5px;
    /* arredondamento da borda */
}

/*  */
.section-01 {
    padding: 10rem;
    /* preenchimeto interno da section */
    background-image: url(Store-Pages---Hero-Banners---Perth_1_1920x_e60b1af8-436a-43bf-8a5f-a168be34d796.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    /* poderiamos usar 32px */
    flex-wrap: wrap;
    /* isso significa que as div poderão quebrar de linha, cao necessário */

}

.whatsapp img {  /* alterando tamanho do icon whatsapp */
    width: 50px; /* largura do icon */
}


.whatsapp { /* div que guarda o icon whatsapp */
    position: fixed; /* posicionamento fixo */
    right: 25px; /* posicionamento à direita (25px)  */
    bottom: 25px; /* posicionamento do bottom */

}

.whatsapp img:hover {
    background-color: rgb(4, 71, 110);
    color: black;
}

.div-01 {
    background-color: gray;
    color: rgb(4, 7, 39);
    text-align: center;
    /* alinhamento centralizado dos textos */
    font-size: 2rem;
    /* tamanho da letra dentro da caixa */
    padding: 1rem;
    /* preenchimento da caixa  */
    width: 25%;
    /* largura de caixa em porcentagem */
    height: 20rem;
    /* altura da caixa utilizando o rem */
    min-width: 299px;
    /* Largura mínima da caixa ela não ficacra  */


}

.div-01 p {
    margin-top: 1rem;
}

/* Aqui estamos estilizando as listas */
.ul-divs li a {
    text-decoration: none;
    background-color: #171430;
    color: white;
    padding: 5px;
    font-size: 1.2rem;
    border-radius: 5px;
    /*arredondamento da borda*/
}

.ul-divs li {
    margin: 5px 5px;
    /*alterando os 4 lados externos dos elementos, primeiro valor (superior,inferior) e segundo valor (laterais esquerda e direita)*/
}

.fa-cart-shopping,
.fa-house  {
    color: white;
    font-size: 1.3rem;
}

/* Aqui estamos estilizando a tarja em destaque entre as sections */
.img-div {
    padding: 3%; /* preenchimento interno */
    background-image: url(abstract-background-with-dark-blue-grunge-texture_1048-20452.avif); /* caminho da img */
    background-position: center; /* posicionamento da img */
    background-size: cover; /* preenchimento total da img na caixa */
}



.div-02 {
padding: 1rem;
width: 25%;
height: 20rem;
min-width: 299px;
background: url(jovem-asiatico-elegante-posando-com-confianca-contra-um-pano-de-fundo-minimalista-na-moda-moderna_1326977-13881.avif);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 15px;

}

/* Estilizando a segunda section */
.section-02, .section-04 {
    display: flex; /* tornando flex/lado a lado */
    justify-content: center; /* alinhamento horizontal */ 
    align-items: center; /* alinhamento vertical */
    gap: 1.5rem; /* brecha entre as caixas */
    padding: 5rem; /* preenchimento interno */
    background-color:rgb(4, 7, 39); /* Cor de fundo */
    flex-wrap: wrap; /* Caso necessário você podera quebrar*/
}

.caixa img{
    width: 100%;
    height: 50%;
    
}

.caixa h3 {
    margin-left: 1rem;


}

.caixa p {
    margin-left: 1rem;
    font-size: 1rem;
}

.caixa button {
    margin-left: 1rem;
}

.caixa button {
    background-color: rgb(4, 7, 39);
    color: white;
}

.caixa button:hover {
    background-color: rgb(4, 71, 110);
    color: black;

}


/* Estilização das 3 div sec 2 */
.caixa {
    width: 25%; /* Largura da caixa */
    height: 22rem; /* Altura da caixa */
    background-color: rgb(4, 71, 110); /* Cor de fundo */
    min-width: 299px; /* Largura mínima da div */
    font-size: 1.2rem; /* Tamanho das letras */
    color: white; /* Cor dos textos */
    box-shadow: 5px 5px 8px wheat; /* Sombra externa das caixas */
    cursor: pointer; /* Ativando cursor pointer */
   
}

.caixa:hover {
    box-shadow: 10px 10px 15px rgb(4, 71, 110); /* Sombra externa das caixas */
    transition: 0.8s;
    
}

.section-03 {
    display: flex; /* tornando flex/lado a lado */
    justify-content: center; /* alinhamento horizontal */ 
    align-items: center; /* alinhamento vertical */
    gap: 1.5rem; /* brecha entre as caixas */
    padding: 5rem; /* preenchimento interno */
    background-color:rgb(4, 7, 39); /* Cor de fundo */
    flex-wrap: wrap; /* Caso necessário você podera quebrar*/
 

}




/* Chamando as classes primárias para estilização */
.div-03, .div-04 {
    height: 15rem;  /* Altura das caixas */
    padding: 1rem;
    text-align: center;
   
}

/* estilização dos textos da primeira caixa */
.content-text {
    text-align: start; /* alinhando os textos ao icons */
    margin-top: 1.5rem; /* espaçamento em torno da caixa */
    color: #171430; /* cor dos textos */
    font-weight: 500; /* peso da fonte */
}

/* acessando os icons para estilização */
.icon-div03 i {
    color: #171430; /* cores dos icons */
    font-size: 3rem; /* tamanho dos icons */
    margin-top: 1.2rem; /* espaçamento superior dos icons */
}

/* inicio de formatação caixa 02 section 03 */
.button-div04 a button{
    padding: 0.5rem; /* preenchimento interno do button */
    background-color: #171430; /* cor de fundo */
    color: white; /* cor de texto */
    font-weight: 600; /* peso da fonte */
    margin: 1rem 0; /* espaçamento superior/inferior 1rem, e 0 nas laterais */


}

.text-div04 p{
    color: #171430;
}

/* inicio estilização rodapé */
.rodape {
    background-color:rgb(4, 7, 39); /* cor de fundo do rodapé */
    padding: 2rem; /* 32 px */
    text-align: center; /* alinhando texto ao centro */
    font-size: 1.1rem; /* definindo tamanho do text*/
    
}

.content {
    display: flex; /* flexbok / lado a lado*/
    align-items: center; /* alinhamento vertical */
    justify-content: center; /* alinhamento horizontal */
    margin-bottom: 1.5rem;
    gap: 3rem; /* espacamento dos elementos */
    flex-wrap: wrap; /* quebra de caixas */
}

/* espaçamento da div que guarda os icon*/
.social-media {
    padding: 1.5rem;
}

/* estilizando os icon */
.social-media i {
    color: white; /* cor dos icon */
    font-size: 2em; /* 32px | tamanho dos icon */
    margin: 0.5em; /* espaçamento em volta dos icon (4 lados) */
}

.social-media i:hover {
    color: rgb(4, 71, 110);
}


/* linha divisão entre as div principais */
.line {
    width: 60%; /* largura da linha */
    margin: 0.5rem auto; /* espaçamento em torno da linha superior e inferior (0.5rem) com as laterais automáticas (navegador) */
    background-color: rgb(85, 83, 83); /* cor de fundo do hr */
    border: none; /* remover as bordas por padrão */
    height: 2px; /* devenir altura da linha */

    
}

.div-list ul li{
   margin-bottom: 0.7rem;
}

.div-list ul li a {
    color: wheat;
    text-decoration: none;

}

.div-list ul li a:hover {
    color:  rgb(4, 71, 110);
    transition: 0.8s;


}

/* especificação das listas em colunas para mobile */
@media (max-width: 600px) {
    .content {
        flex-direction: column;
    }
}

